.discussions{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 3vh;
  border-radius: 1.5em;
  height: 500px;
  width: 307px;
  backdrop-filter: blur(2px);
  color: white;
  position: relative;
  z-index: 2;
  overflow: scroll;
  box-shadow: inset 1px 1px 5px 1px white,
              inset -0px -0px 5px 1px  rgba(0, 0, 0, 0.948);
  background: linear-gradient(-90deg, rgba(201,201,201,0.3478641456582633) 21%, rgba(255,255,255,0.1271358543417367) 50%, rgba(154,154,154,0) 70%),
              linear-gradient(90deg, rgba(201,201,201,0.2478641456582633) 21%, rgba(255,255,255,0.1271358543417367) 50%, rgba(154,154,154,0) 70%);
}
.discussions_header{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  padding: 2vh 1.5vw;

}
.discussions_header_left_img img{
  height: 34px;
  width: 34px;
  border-radius: 50%;
}
.discussions_header_top{
  height: fit-content;
  padding: 2vh 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.discussions_header_left, .discussions_header_right{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5vw;
}
.discussions_header_left{
  justify-content: start;
}
.discussions_header_right{
  justify-content: end;
}
.discussions_categories{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap:0px;
  align-items: center;
  margin-top: 1vh;
}
.discussions_categories p{
  width: 50%;
  text-align: center;
  position: relative;
  font-weight: bold;
}
.discussions_categories p:first-child{
  color: #19B94D;
}
.discussions_categories p:last-child{
  color: rgba(255,255,255,0.4);
}
.discussions_categories p:first-child::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #19B94D;
  left: 0px;
  bottom: -20px;
}
.discussions_categories p:last-child::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.16);
  left: 0px;
  bottom: -20px;
}
.discussion_item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  column-gap: 10px;
  margin: 2vh 0px;
  padding: 0vh 1.5vw;
}
.discussions:hover{
  cursor: pointer;
}
.discussion_item_details{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
  font-size: 14px;
}
.discussion_item_details .discussion_item_details_top_base, .discussion_item_details_top_bold{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.discussion_item_details .discussion_item_details_top_bold{
  font-weight: bold;
}
.discussion_item_details_bottom{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:start;
  justify-content: space-between;
}
.discussion_item_details_bottom p:first-child{
  width: 65%;
  color:rgba(255, 255, 255, 0.607);

}
.discussion_item_details_bottom p:nth-child(2){
  height: 18px;
  width: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #0066c8;
  font-size: 12px;
}